body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.card{  
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn .6s ease;
}

h2{
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: .3s;
}

input:focus{
    border-color: #764ba2;
    box-shadow: 0 0 0 2px rgb(118, 75, 162, .2);
}

.password-box{
    position: relative;
}

#togglePass{
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 12px;
    background: #764ba2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #5a3580;
}

.hint{
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 25px 0;
}

.box{
    padding: 20px;
    background: #f1f1f1;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.box:hover{
    transform: scale(1.05);
    background: #e0d8ff;
}

.hidden{
    display: none;
}

@keyframes fadeIn{
    from{opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}